h1.title
{
	text-align: right;
	border-bottom: 1px solid silver;
	margin-bottom: 1em;
	padding-bottom: 1em;
}
p.instructions
{
	padding: 0.25em 0 0.25em 1.7em;
	clear: left;
}

div.main
{
	clear: both;
	float: left;
	padding: 1% 0 1% 1%;
	width: 99%;
}

div.step
{
	clear: both;
	float: left;
	width: 100%;
}

#jbst-editor,
#jbst-display,
.code-example
{
	float: left;
	font-family: Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-size: 12px;
	line-height: 1.1em;
	margin: 1em 0;
	padding: 0;
	padding-left: 20px;
	width: 90%;
}
#jbst-editor
{
	background-color: #F5F5F5;
	color: black;
	border-style: none;
	border-left: 3px solid silver;
	margin-left: 57px;
	padding: 1px 1px 1px 5px;
	position: absolute;
	visibility: hidden;
}
.ua-ie #jbst-editor
{
	padding: 3px;
}
.ua-safari #jbst-editor
{
	margin-left: 55px;
}
.ua-chrome #jbst-editor
{
	margin-left: 58px;
}

body.editing #jbst-editor
{
	position: static;
	visibility: visible;
}

body.editing #jbst-display
{
	display: none;
}

.compilation-results
{
	clear: both;
	margin: 2em;
}

.example
{
	border: 1px solid silver;
	float: left;
	padding: 1em;
	margin: 1em;
	width: 30em;
}
.example ul.items
{
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	margin: 0;
	margin-top: 0.5em;
	padding: 0;
}
.example li.item
{
	background-color: #F1F1F1;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	padding: 0.25em;
}
.example li.item-alt
{
	background-color: white;
}
.example li.item-selected
{
	background-color: yellow;
	font-weight: bold;
}

.copyright
{
	border-top: 1px solid silver;
	clear: both;
	padding: 0.5em;
	margin: 0.5em;
	text-align: right;
}