<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="jsonfxSettings">
			<section name="scriptCompaction" type="JsonFx.Configuration.ScriptCompactionSection" allowLocation="true" allowDefinition="Everywhere"/>
		</sectionGroup>
	</configSections>

	<jsonfxSettings>
		<scriptCompaction
			disableMicroOptimizations="true"
			firewallScripts="true"
			ignoreEval="false"
			obfuscate="true"
			preserveSemicolons="true"
			verbose="false"
			wordWrapWidth="-1"/>
	</jsonfxSettings>

	<system.web>
		<pages>
			<controls>
				<add tagPrefix="JsonFx" namespace="JsonFx.Client" assembly="JsonFx.Client"/>
				<add tagPrefix="jbst" namespace="JsonFx.UI.Jbst" assembly="JsonFx.UI"/>
			</controls>
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="JsonFx.Mvc"/>
			</namespaces>
		</pages>
		<customErrors mode="Off" />
		<!-- set debug="false" to get script/style compaction/compression -->
		<compilation debug="false" defaultLanguage="c#">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<buildProviders>
				<remove extension=".css" />
				<add extension=".css" type="JsonFx.Compilation.ResourceBuildProvider, JsonFx.Client" />
				<remove extension=".js" />
				<add extension=".js" type="JsonFx.Compilation.ResourceBuildProvider, JsonFx.Client" />
				<add extension=".jbst" type="JsonFx.Compilation.ResourceBuildProvider, JsonFx.Client" />
				<add extension=".merge" type="JsonFx.Compilation.ResourceBuildProvider, JsonFx.Client" />
				<add extension=".jrpc" type="JsonFx.Compilation.JsonServiceBuildProvider, JsonFx.IO" />
			</buildProviders>
		</compilation>
		<httpModules>
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
		<httpHandlers>
			<add verb="*" path="*.css" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" validate="true" />
			<add verb="*" path="*.js" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" validate="true" />
			<add verb="*" path="*.jbst" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" validate="true" />
			<add verb="*" path="*.merge" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" validate="true" />
			<add verb="*" path="*.jrpc" type="JsonFx.Handlers.JsonServiceHandlerFactory, JsonFx.IO" validate="true" />
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
		<httpRuntime enableVersionHeader="false" />
		<globalization responseEncoding="UTF-8" requestEncoding="UTF-8" />
		<xhtmlConformance mode="Strict" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="css;stylesheet" extension=".css" type="JsonFx.Compilation.CssResourceCodeProvider, JsonFx.Client" />
			<compiler language="js;javascript" extension=".js" type="JsonFx.Compilation.ScriptResourceCodeProvider, JsonFx.Client" />
			<compiler language="jbst;template" extension=".jbst" type="JsonFx.Compilation.JbstCodeProvider, JsonFx.UI" />
			<compiler language="merge;resources" extension=".merge" type="JsonFx.Compilation.MergeResourceCodeProvider, JsonFx.Client" />
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="UrlRoutingModule" />
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="HeadersModule" type="JsonFx.Mvc.CleanHeadersModule" />
		</modules>
		<handlers>
			<add name="*.jrpc_*" path="*.jrpc" verb="*" type="JsonFx.Handlers.JsonServiceHandlerFactory, JsonFx.IO" preCondition="integratedMode" />
			<add name="*.merge_*" path="*.merge" verb="*" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" preCondition="integratedMode" />
			<add name="*.jbst_*" path="*.jbst" verb="*" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" preCondition="integratedMode" />
			<add name="*.js_*" path="*.js" verb="*" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" preCondition="integratedMode" />
			<add name="*.css_*" path="*.css" verb="*" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" preCondition="integratedMode" />
			<remove name="MvcHttpHandler" />
			<remove name="UrlRoutingHandler" />
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>
